@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  scrollbar-color: transparent transparent;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

#scroll-wrapper {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}
 
#scroll-wrapper::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @for $i from 0 through 5000 {
    .animation-delay-#{$i * 200} {
      animation-delay: #{$i * 200}ms;
    }
  }

  .animation-fill-mode-forwards {
    animation-fill-mode: forwards;
  }

  .w-fit-content {
    width: fit-content;
  }
}

.background-moon:hover ~ .background-moon-cloud {
  transform: translateX(1rem);
}

.background-sun:hover ~ .background-sun-cloud {
  transform: translateX(1rem);
}

.resume-pdf-underline {
  transform: scaleX(0);
}

.resume-pdf:hover ~ .resume-pdf-underline {
  transform: scaleX(1);
}

.linkedin-underline {
  transform: scaleX(0);
}

.linkedin:hover ~ .linkedin-underline {
  transform: scaleX(1);
}

.github-underline {
  transform: scaleX(0);
}

.github:hover ~ .github-underline {
  transform: scaleX(1);
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.shape:hover {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
